{% extends 'layout.html' %}


{% block title %}

- Ontario COVID-19

{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">
        Join the Fight against COVID-19 in Ontario
      </h1>
      <p class="lead">
        Find problems, join teams, build solutions.
      </p>
      {% if current_user.is_authenticated %}
        <a
          href="{{ url_for('project.submit') }}"
          class="btn btn-lg btn-primary"
          type="submit"
        >
          Submit a Project
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
