{% extends "layout.html" %}

{% block head %}

{{ super() }}

<style>

.project-summaries {
  max-width: 500px;
  margin: 0 auto;
}

.project-summary .header {
  margin: 0 0 .5em !important;
}

.project-summary p {
  margin: 1em 0 !important;
}

</style>

{% endblock %}


{% block actions %}


<div class="ui container">
  <a href="{{ url_for('projectbp.submit') }}">
    <div class="ui button">
      <i class="plus icon"></i>
      New Project
    </div>
  </a>
</div>


{% endblock %}


{% block content %}

<div class="ui container">
  {% if projects %}
    <div class="project-summaries">
      {% for project in projects %}
        <div class="project-summary ui card fluid text segment">
          <div class="content">
            <div class="header">
              {{ project.title }}
            </div>
            <a
              class="ui label"
              href="{{
                url_for(
                  'projectbp.view',
                  project_id=project.id,
                  user_slug=slugify(project.title)
                )
              }}"
            />
              {{ project.users_joined|length }}
              {{ 'members' if project.users_joined|length != 1 else 'member' }}
            </a>
            <a
              class="ui label"
              href="{{
                url_for(
                  'projectbp.view',
                  project_id=project.id,
                  user_slug=slugify(project.title)
                )
              }}#comments"
            />
              {{ project.comments|length }}
              {{ 'comments' if project.comments|length != 1 else 'comment' }}
            </a>
            <div class="card">
              <div class="card-body">
                <p>
                  {{ project.description }}
                </p>
                <a
                  href="{{
                    url_for(
                      'projectbp.view',
                      project_id=project.id,
                      user_slug=slugify(project.title)
                    )
                  }}"
                >
                  <div class="ui primary button">
                    Open
                    <i class="right arrow icon"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <h1>No projects found!</h1>
  {% endif %}
</div>

{% endblock %}
