{% extends 'layout.html' %}


{% block title %}

- Submit Project 

{% endblock %}


{% block styles %}

<style>

#submit-project ul {
  margin: 0;
  padding: 0;
}
#submit-project ul li {
  list-style: none;
}

.invalid-feedback {
  display: block;
}

</style>

{% endblock %}


{% from "helpers/_formhelpers.html" import render_field %}


{% block content %}

<div class="container">
  <h2>Submit a Project</h2>
  <form
    id="submit-project"
    method="post"
    action="{{ url_for('project.submit') }}"
  >
    {{ form.csrf_token }}
    {{ render_field(form.title, is_invalid) }}
    {{ render_field(form.description, is_invalid) }}
    {{ render_field(form.needed, is_invalid) }}
    {{ render_field(form.provided, is_invalid) }}
    {{ render_field(form.contact, is_invalid) }}
    <button class="btn btn-primary" type="submit">
      Submit
    </button>
  </form>
</div>

{% endblock %}
