{% extends "layout.html" %}


{% block head %}

{{ super() }}

<style>

textarea {
  height: 6em !important;
}

</style>

{% endblock %}


{% block content %}

<div class="ui container segment">
  <form
    class="ui form fluid"
    action="{{
      url_for(
        'projectbp.{}'.format(action),
        project_id=project.id if project else None,
        user_slug=slugify(project.title)
      )
    }}"
    method="post"
  >
    <h2 class="ui header">
      {{ 'Edit' if project and project.id else 'Submit' }} Project
    </h2>
    <!--div class="ui ignored positive icon message"-->
    <span class="meta">
      This information will be public.
    </span>
    <div class="ui divider"></div>
    {{ m.render_expanded_field(form.title) }}
    <div class="ui divider"></div>
    {{ m.render_expanded_field(form.description) }}
    <div class="ui divider"></div>
    {{ m.render_expanded_field(form.needed) }}
    <div class="ui divider"></div>
    {{ m.render_expanded_field(form.provided) }}
    <div class="ui divider"></div>
    {{ m.render_expanded_field(form.contact) }}
    <div class="ui divider"></div>
    {{ m.render_expanded_field(form.budget) }}
    <div class="ui divider"></div>
    {{ m.render_expanded_field(form.decision_making) }}
    {{ form.csrf_token }}
    <button
      class="ui primary button"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>

{% endblock %}
