{% extends 'layout.html' %}


{% block title %}

- {{ project.name }}

{% endblock %}


{% from "helpers/_formhelpers.html" import render_field %}


{% block content %}

<div class="container">
  <h2>{{ project.title }}</h2>
  <dt>Description</dt>
  <dd>{{ project.description }}</dd>
  <dt>Needed</dt>
  <dd>{{ project.needed }}</dd>
  <dt>Provided</dt>
  <dd>{{ project.provided }}</dd>
  <form
    method="post"
    action="{{ url_for('project.join', project_id=project._id) }}"
  >
    <button class="btn btn-primary" type="submit">
      Join
    </button>
  </form>
  {% if current_user.is_superadmin or project._id in current_user.project_ids %}
    <form
      method="post"
      action="{{ url_for('project.delete', project_id=project._id) }}"
    >
      <button class="btn btn-danger" type="submit">
        Delete
      </button>
    </form>
  {% endif %}
</div>

{% endblock %}
