{% extends 'layout.html' %}


{% block title %}

- {{ project.name }}

{% endblock %}


{% block css %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/projects.css') }}"
/>

{% endblock %}


{% block styles %}

<style>

form {
  margin-top: 10px;
  padding: 0 5px;
}
.d-flex .flex-fill:first-of-type form {
  padding-left: 0;
}
.d-flex .flex-fill:last-of-type form {
  padding-right: 0;
}

</style>

{% endblock %}


{% block content %}

<div class="container">
  <h2>{{ project.title }}</h2>
  <div class="card">
    <div class="card-body">
      <div class="num-users">
        <span class="badge badge-dark">
          {{ project.users|length }} user(s)
        </span>
      </div>
      <dt>Organizer</dt>
      <dd><a href="{{ url_for('user.view', user_id=owner._id) }}">{{ owner.name }}</a></dd>
      <dt>Description</dt>
      <dd>{{ project.description }}</dd>
      <dt>What is Needed</dt>
      <dd>{{ project.needed or '-' }}</dd>
      <dt>What is Provided</dt>
      <dd>{{ project.provided or '-' }}</dd>
      <dt>Contact</dt>
      <dd>{{ project.contact or '-' }}</dd>
      <div class="d-flex">
        <div class="flex-fill">
          <form
            method="post"
            action="{{ url_for('project.join', project_id=project._id) }}"
          >
            <button class="btn btn-primary btn-block" type="submit">
              {% if current_user.id in project.users %}
                Leave
              {% else %}
                Join
              {% endif %}
            </button>
          </form>
        </div>
        {% if current_user.is_super_admin or project.user_id == current_user.id %}
          <div class="flex-fill">
            <form
              method="get"
              action="{{ url_for('project.edit', project_id=project._id) }}"
            >
              <button class="btn btn-secondary btn-block" type="submit">
                Edit
              </button>
            </form>
          </div>
          <div class="flex-fill">
            <form
              method="post"
              action="{{ url_for('project.delete', project_id=project._id) }}"
            >
              <button class="btn btn-danger btn-block" type="submit">
                Delete
              </button>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
