{% extends "layout.html" %}


{% block head %}

{{ super() }}

<style>

textarea {
  height: 6em !important;
}

#project-actions form {
  display: inline-block;
}

.comment-box label {
  font-weight: normal !important;
}
.comment-box button[type=submit],
.reply-box button[type=submit]
{
  margin-top: 10px !important;
}

.hidden {
  display: none;
}
.ui.comments .comment>.comments {
	padding-bottom: 0 !important;
}

.comment-box .meta {
  margin-bottom: 5px;
}

</style>

{% endblock %}


{% block content %}

<div class="ui container segment">
  <h2 class="ui dividing header">{{ project.title }}</h2>
  <div class="content">
    <div class="num-users">
      <p class="meta">
        {{ project.users_joined|length }}
        {{ 'members' if project.users_joined|length != 1 else 'member' }}
      </p>
      <p>
        {% for user in project.users_joined %}
          <a
            href="{{
              url_for('userbp.view', user_id=user.id )
            }}"
            class="ui horizontal label"
          >
            {{ user.full_name }}
          </a>
        {% endfor %}
      </p>
    </div>
    <div class="ui divider"></div>
    {% for key, field in field_by_key.items() %}
      <div class="ui aligned four wide stackable grid">
        <div class="ui four wide column">
          <strong>
            {{ field['label'] }}
          </strong>
        </div>
        <div class="eight wide column">
          {{ field['data'] or '-' }}
        </div>
      </div>
      <div class="ui divider"></div>
    {% endfor %}
    <div id="project-actions">
      <form
        method="post"
        action="{{ url_for('projectbp.join', project_id=project.id) }}"
      >
        <button class="ui primary button" type="submit">
          {% if current_user in project.users_joined %}
            Leave
          {% else %}
            Join
          {% endif %}
          <i class="right arrow icon"></i>
        </button>
      </form>
      {%
        if current_user.is_superadmin or
        project.created_by_user_id == current_user.id
      %}
        <form
          method="get"
          action="{{ url_for(
              'projectbp.edit',
              project_id=project.id,
              user_slug=slugify(project.title)
          ) }}"
        >
          <button class="ui green button" type="submit">
            Edit
          </button>
        </form>
        <form
          method="post"
          action="{{
            url_for('projectbp.delete', project_id=project.id)
          }}"
        >
          <button class="ui red button" type="submit">
            Delete
          </button>
        </form>
      {% endif %}
    </div>
  </div>
</div>


<div class="ui container segment">
  <h3 class="ui dividing header">
    Comments
  </h3>
  {% if current_user.is_authenticated %}
    <div class="comment-box">
      <div class="ui form">
        <label>
          <p class="meta">
            Comment as
            <a href="{{ url_for('userbp.view', user_id=current_user.id) }}">
              {{ current_user.full_name }}
            </a>
          </p>
        </label>
        <form
          method="post"
          action="{{ url_for('commentbp.submit') }}"
        >
          <input type="hidden" name="project_id" value="{{ project.id }}" />
          <textarea rows="2" name="comment" id="comment"></textarea>
          <button class="ui primary button" type="submit">
            <i class="icon edit"></i>
            Comment
          </button>
        </form>
      </div>
    </div>
    <div class="ui divider"></div>
  {% else %}
    <p>
      {{ m.nav_link('userbp.signin', 'Sign In') }}
      or
      {{ m.nav_link('userbp.signup', 'Sign Up') }}
      to leave a comment.
    </p>
  {% endif %}
  {% if project.comments %}
    <div class="comment-container ui comments">
      {% for comment in project.comments %}
        {% if not comment.parent %}
          {{ make_comment(comment) }}
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <p>No comments yet. Be the first to share what you think!</p>
  {% endif %}
</div>

<div class="hidden">
  <div id="reply-box" class="reply-box">
    <div class="comment">
      <a class="avatar"></a>
      <div class="content">
        <div class="ui reply form">
          <form
            method="post"
            action="{{ url_for('commentbp.submit') }}"
          >
            <input
              type="hidden"
              class="project_id"
              name="project_id"
              value="{{ project.id }}"
            />
            <input type="hidden" class="parent_id" name="parent_id" />
            <textarea rows="2" name="comment" id="comment"></textarea>
            <button class="ui primary button" type="submit">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

function isEmpty(el){
  return !$.trim(el.html())
}

$('.reply-link').click((e) => {
  console.log('click e:', e)
  let $replyLink = $(e.currentTarget)
  let parentId = $replyLink.data('parent-id')
  console.log('parentId:', parentId)
  let $comment = $replyLink.closest('.comment')
  let $comments = $comment.find('.comments:first')
  console.log('$comment:', $comment)
  console.log('$comments:', $comments)
  let $existingReplyBox = $comments.find('.reply-box')
  console.log('$existingReplyBox:', $existingReplyBox)
  if ($existingReplyBox.length) {
    $existingReplyBox.remove()
    if (isEmpty($comments)) {
      $comments.hide()
    }
  } else {
    let $replyBox = $('#reply-box')
    console.log('$replyBox:', $replyBox)
    let $clone = $replyBox.clone()
    console.log('$clone:', $clone)
    let $parentId = $clone.find('.parent_id')
    console.log('$parentId:', $parentId)
    $parentId.val(parentId)
    $comments.prepend($clone)
    $comments.show()
  }
})

</script>

{% endblock %}

{% macro make_comment(comment) %}

<div class="comment">
  <a class="avatar">
    <img src="/static/img/avatar.png">
  </a>
  <div class="content">
    <a
      class="author"
      href="{{
        url_for('userbp.view', user_id=comment.created_by_user.id )
      }}"
    >
      {{ comment.created_by_user.full_name }}
    </a>
    <div class="metadata">
      <span class="date">
        {{ comment.age }}
      </span>
    </div>
    <div class="text">
      <p>
        {{ comment.text }}
      </p>
    </div>
    <div class="actions">
      <a class="reply-link" data-parent-id="{{ comment.id }}">Reply</a>
    </div>
  </div>
  <div class="comments {{ 'hidden' if not comment.replies.count() else '' }}">
  {% if comment.replies %}
    {% for reply in comment.replies %}
      {{ make_comment(reply) }}
    {% endfor %}
  {% endif %}
  </div>
</div>

{% endmacro %}
