{% extends "layout.html" %}

{% block head %}

{{ super() }}

<style>
#project-list {
  padding: 0;
}
#project-list li {
  list-style: none;
  margin-bottom: 5px;
}
dt {
  font-weight: bold;
}
</style>

{% endblock %}

{% block content %}

<div class="ui container segment">
  <h1 class="ui header">{{ user.full_name }}</h1>
  <dt>Projects Created</dt>
  <dd>
    {% if user.projects_created %}
      <ul id="project-list">
        {% for project in user.projects_created %}
          <li>
            <a
              href="{{ url_for('projectbp.view', project_id=project.id) }}"
              class="ui label"
            >
              {{ project.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      -
    {% endif %}
  </dd>
  <dt>Projects Joined</dt>
  <dd>
    {% if user.projects_joined %}
      <ul id="project-list">
        {% for project in user.projects_joined %}
          <li>
            <a
              href="{{ url_for('projectbp.view', project_id=project.id) }}"
              class="ui label"
            >
              {{ project.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      -
    {% endif %}
  </dd>
  {% if 0 %}
  <dt>Comments</dt>
  <dd>
    {% if user.comments_created %}
      <ul id="comment-list">
        {% for comment in user.comments_created %}
          <li>
            {{ comment.text }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  <dd>
  {% endif %}
</div>

{% endblock %}
