{% extends 'layout.html' %}


{% block title %}

- Log In

{% endblock %}


{% block css %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/login.css')}}"
/>

{% endblock %}


{% block content %}

<div class="container">

  <h2 class="login-form-heading">Log In</h2>
    {% if error_message %}
      {{ error_message }}
    {% endif %}

  <form class="login-form" method="post">
    <input
      type="email"
      id="input-email"
      name="input-email"
      class="form-control"
      placeholder="Email address"
      required autofocus
    />
    <input
      type="password"
      id="input-password"
      class="form-control"
      name="input-password"
      placeholder="Password"
      required
    />
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign in
    </button>
  </form>
  <p class="text-center">
    <a href="{{ url_for('user.register') }}">Register</a>
  </p>

</div>

{% endblock %}
