{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

  <div class="ui form-user center raised text container segment">
    <form
      class="ui form"
      action="{{
        url_for(
          'userbp.signin',
          next=request.args.get('next', url_for('index'))
        )
      }}"
      method="post"
    >
      <h4 class="ui dividing header">
        Login
      </h4>
      {{ m.render_field(form.email) }}
      {{ m.render_field(form.password) }}
      {{ form.csrf_token }}
      <button class="ui primary button" type="submit">Confirm</button>
      <a href="{{ url_for('userbp.forgot') }}">
        <div class="ui floated right basic red button">
            I forgot my password
        </div>
      </a>
    </form>
  </div>

{% endblock %}
