{% extends 'layout.html' %}


{% block title %}

- Send Invite

{% endblock %}


{% block styles %}

<style>

input:read-only {
  background: #fff !important;
}

#invite-table {
  margin-top: 20px;
}

</style>

{% endblock %}


{% from "helpers/_formhelpers.html" import render_field %}


{% block content %}

<div class="container">
  <h2>Invite</h2>
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-8 col-12">
      {% if invite_link %}
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="invite-code"
            readonly 
            value="{{ invite_link }}"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="copy-button"
              data-clipboard-target="#invite-code"
              data-toggle="tooltip"
              data-placement="top"
              title="Copy"
            >
              <i class="fas fa-copy"></i>
            </button>
          </div>
        </div>
      {% endif %}
      <form action="{{ url_for('admin.invite') }}" method="post">
        <button
          class="btn btn-primary btn-block"
          type="submit"
        >
          Generate Invite Code
        </button>
      </form>
    </div>
  </div>
  {% if invite_views  %}
    <table class="table" id="invite-table">
      <tr>
        <th>Invite Link</th>
        <th>User Email</th>
      </tr>
      {% for invite in invite_views  %}
        <tr>
          <td>
            <a href="{{ invite['invite_link'] }}">
              {{ invite['invite_link'] }}
            </a>
          </td>
          <td>
            {{ invite['email'] or '' }}
          </td>
      {% endfor %}
    </table>
  {% endif %}
</div>

<script type="text/javascript">

  var clipboard = new ClipboardJS('.btn')
  clipboard.on('success', (e) => {
    let trigger = e.trigger
    let $trigger = $(trigger)
    let originalTitle = $trigger.attr('data-original-title')
    $trigger
      .attr('data-original-title', 'Copied!')
      .tooltip('show')
      .mouseout(() => {
        $trigger.attr('data-original-title', originalTitle)
      })
  })

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

</script>

{% endblock %}
