{% extends "layout.html" %}


{% block head %}

{{ super() }}

<style>

.masthead.segment {
  border-radius: 0;
  min-height: 500px;
}
.masthead h1.ui.header {
  margin-top: .5em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
  margin-bottom: 30px;
}
.masthead .buttons {
  margin-top: 40px;
}
.masthead .buttons p {
  margin: 0;
}
.masthead code {
  padding: 0 10px;
  font-weight: normal;
}

</style>

{% endblock %}


{% block content %}
<div class="ui inverted vertical masthead center aligned segment masthead">
  <div class="ui text container" >
    <h1 class="ui inverted header">
      Join the Fight against COVID-19
    </h1>
    <h2>Find problems, form teams, build solutions.</h2>
    <h3>
      We are a community of scientists, engineers, clinicians and
      healthcare administrators.
    </h3>
    <h3>
      Our mission is to <code>#FlattenTheCurve</code> of COVID-19 infections
      in Ontario.
    </h3>
    <div class="buttons">
      <a href="{{ url_for('projectbp.list') }}">
        <div class="ui huge primary button">
          See All Projects
          <i class="right arrow icon"></i>
        </div>
      </a>
      <a href="{{ url_for('projectbp.submit') }}">
        <div class="ui huge button">
          Submit A Project
          <i class="right arrow icon"></i>
        </div>
      </a>
    </div>
  </div>
</div>

<!--div class="container">
</div-->

{% endblock %}
