{% extends "layout.html" %}


{% block head %}

{{ super() }}

<style>

.masthead.segment {
  border-radius: 0;
  min-height: 500px;
}
.masthead h1.ui.header {
  margin-top: .5em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
  margin-bottom: 30px;
}
.masthead .buttons {
  margin-top: 30px;
}
.masthead .buttons .button {
  width: 85%;
}
.masthead p {
  margin: 0;
}
.masthead {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.fg,
.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  transform: scale(1.1);
}
.fg {
  background-image: url('/static/img/fg.png') !important;
  z-index: 1;
  background-position: 50% 90%;
}
.bg {
  background-image: url('/static/img/bg.jpg') !important;
  background-position: 50% 90%;
  transform: scale(1.1) translate(0, 0);
}

.readable {
  background: rgba(0,0,0,0.7);
  border-radius: 5px;
  padding: 1px 10px 40px;
  margin-top: 10px;
  -moz-box-shadow:    inset 0 0 50px #000000;
  -webkit-box-shadow: inset 0 0 50px #000000;
  box-shadow:         inset 0 0 50px #000000;
  position: relative;
  z-index: 2;
}

</style>

<script>


if (typeof duration === 'undefined') {
  var isIndex
  var bgTween
  var fgTween

  let durationIn = 5
  let durationOut = 10
  let ease = 'power3.inOut'

  let fgStartScale = 1.25
  let fgEndScale = 1.4
  let fgStartY = 0
  let fgEndY = 0

  let bgStartScale = 1.25
  let bgEndScale = 1.15
  let bgStartY = 0
  let bgEndY = '6.3%'

  function fgAnimateIn() {
    fgTween = gsap.to('.fg', {
      duration: durationIn,
      ease: ease,
      onComplete: fgAnimateOut,
      scale: fgEndScale,
      y: fgEndY
    });
  }
  function fgAnimateOut() {
    fgTween = gsap.to('.fg', {
      duration: durationOut,
      ease: ease,
      onComplete: fgAnimateIn,
      scale: fgStartScale,
      y: fgStartY
    });
  }
  function bgAnimateIn() {
    bgTween = gsap.to('.bg', {
      duration: durationIn,
      ease: ease,
      onComplete: bgAnimateOut,
      scale: bgEndScale,
      y: bgEndY
    });
  }
  function bgAnimateOut() {
    bgTween = gsap.to('.bg', {
      duration: durationOut,
      ease: ease,
      onComplete: bgAnimateIn,
      scale: bgStartScale,
      y: bgStartY
    });
  }
  function animateIn() {
    console.log('animateIn()')
    fgAnimateIn()
    bgAnimateIn()
  }
  function animateOut() {
    console.log('animateOut()')
    fgAnimateOut()
    bgAnimateOut()
  }
}

function updateIsIndex() {
  let indexBody = document.getElementById('index')
  isIndex = !!indexBody
  console.log('updateIsIndex() isIndex:', isIndex)
}

function enable() {
  console.log('enable() fgTween:', fgTween)
  if (fgTween) {
    // TODO: fix bug where images are reset when navigating back
    fgTween.play()
    bgTween.play()
  } else {
    animateIn()
  }
}

function disable() {
  console.log('disable()')
  fgTween.pause()
  bgTween.pause()
}

$(document).on('turbolinks:load', () => {
  console.log('turbolinks::load')
  updateIsIndex()
  if (isIndex) {
    enable()
  } else {
    disable()
  }
})

</script>

{% endblock %}


{% block content %}
<div class="ui inverted vertical masthead center aligned segment">
  <div class="bg"></div>
  <div class="fg"></div>
  <div class="ui text container">
    <div class="readable">
      <h1 class="ui inverted header">
        Work On<br/>
        COVID-19
      </h1>
      <h2>Find problems, form teams, build solutions.</h2>
      <p>
        We are a community of engineers and clinicians.
      </p>
      <p>
        Our mission is to #FlattenTheCurve.
      </p>
      <div class="buttons">
        <div class="ui stackable two column grid">
          <div class="ui row">
            <div class="ui column">
              <a href="{{ url_for('projectbp.list') }}">
                <div class="ui huge primary button">
                  See Projects
                  <i class="right arrow icon"></i>
                </div>
              </a>
            </div>
            <div class="ui column">
              <a href="{{ url_for('projectbp.submit') }}">
                <div class="ui huge button">
                  Submit Project
                  <i class="right arrow icon"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--div class="container">
</div-->

{% endblock %}
