{% extends 'layout.html' %}


{% block title %}

- Send Invite

{% endblock %}


{% block content %}

<div class="container">
  <h2>Send Invite</h2>
  <form
    id="send-invite"
    method="POST"
    action="{{ url_for('admin.invite') }}"
  >
    {{ form.csrf_token }}
    {{ render_field(form.title) }}
    {{ render_field(form.description) }}
    {{ render_field(form.needed) }}
    {{ render_field(form.provided) }}
    <button class="btn btn-primary" type="submit">
      Submit
    </button>
  </form>
</div>

{% endblock %}
